@font-face {
    font-family:'noshy1' ;
 
    src: url('../../Fonts/ParagraphFont/swiss.otf');
    src: url('../../Fonts/ParagraphFont/swiss.woff');
    src: url('../../Fonts/ParagraphFont/swiss.woff2');
    src: url('../../Fonts/ParagraphFont/swiss.svg');
    src: url('../../Fonts/ParagraphFont/swiss.ttf');
}
.who {
    background-color: var(--section-color);
    position: relative;

    h3 {
        
        font-size: 30px;
        color: var(--dark-color);
        font-family: bold1;
    }

    p {
        color: var(--dark-color);
        font-size: 25px;
        font-family:mediam1;
        
    }

    .main-color {
        color: var(--main-color);
       font-family: bold1;
        font-size: 25px;
    }

    .txt-content {
        display: flex;
        align-items: center;

        img {
            width: 25px;
            height: 25px;
        }
    }

    @media (max-width:890px) {
        .logo {
            display: none;
        }
    }

    // start-oursee 
    .ourSee {
        margin-top: 50px;
        background-image: url(../../images/Pattern\ -\ who\ we\ are\ page.png);
        background-position: right;
        background-size: 50%;
        background-repeat: no-repeat;

        .seen {
            display: flex;
            gap: 5px;
            margin-right: 40%;
            align-items: center;

            h2 {
                
                color: var(--dark-color);
                font-family: bold1;

            }
        }

        .center {
            max-width: 80%;
            margin: auto;
        }

        .info {
            color: var(--dark-color);
            font-size: 25px;
            font-family: mediam1;

            span {
               font-family: ex-bold1;
                color: #000;
            }

        }

        @media (max-width:900px) {
            .seen {
                margin-right: 30%;
            }
        }


    }

}